<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/pagesCSS.css">
    <script defer src="../static/javaScript.js"></script>    

    <title>Hi-Paw</title>
</head>
<body>
    <div class="container">
        <div class="myHeader">
            <h1>Hi-Paw</h1>
            <div class="HeaderDiv"></div>
        </div>
        <div class="divLogo">
            <a href="./homePage.html">
                <img src="../Images/LogoImg.png" alt=""width="150" height="150">
             </a>
             <nav>
                <ul>
                    <li><a href="./homePage.html">Log In</a></li>
                    <li><a href="./createAnAccountPage.html">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        

        
        <div class="divLeft">
                <table action="" method="">
                    <h3>Who let the dogs out?</h3> 
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Dog's Name</th>
                        <th>Dog's Breed</th>
                        <th>Dog's Age</th>
                        <th>Dog's Gender</th>
                      </tr>   
                      <tr>
                        <td>Nir</td>
                        <td>Shani</td>
                        <td>Male</td>
                        <td>Jason</td>
                        <td>Labrador</td>
                        <td>6</td>
                        <td>Male</td>
                      </tr>
                      <tr>
                        <td>Maya</td>
                        <td>Musan Levi</td>
                        <td>Female</td>
                        <td>Vini</td>
                        <td>Pomerenian</td>
                        <td>3</td>
                        <td>Male</td>
                      </tr>
                      <tr>
                        <td>Dina</td>
                        <td>Yaniv</td>
                        <td>Female</td>
                        <td>Nona</td>
                        <td>German Shepherd</td>
                        <td>1</td>
                        <td>Female</td>
                      </tr>
                      
                    </table>
                      

  
                </table>
            </div>
        <div class="divRight1">
            <img src="../Images/ResultImg.png" alt=""width="250" height="250">
        </div>
        <div class="divEmpty"></div>
    </div>
</body>
</html>