doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='pagesCSS.css')
    script(defer='', src='javaScript.js')
    title Hi-Paw
  body
    .container
      .myHeader
        h1 Hi-Paw
        .HeaderDiv
      .divLogo
        a(href='//localhost:8080')
          img(src='./Images/LogoImg.png', alt='', width='150', height='150')
        nav
          ul
            li
              a(href='//localhost:8080/homePage') About Us
            li
              a(href='//localhost:8080/signIn') Sign In
            li
              a(href='//localhost:8080/userCreation') Sign Up

      .divLeft
        h4 Welcome to our family! 
        p  We are here to help you and your dog make friends! 
        P  Use our service to find details about the dogs and their owners in your area and you can make every trip much more interesting and enjoyable:)

      .divRight1
        img(src='./Images/welcomePageImg.jpg', alt='', width='250', height='250')
      .divEmpty