doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='pagesCSS.css')
    script(defer='', src='javaScript.js')
    title Hi-Paw
  body
    .container
      .myHeader
        h1 Hi-Paw
        .HeaderDiv
      .divLogo
        a(href='//localhost:8080')
          img(src='./Images/LogoImg.png', alt='', width='150', height='150')
        nav
          ul
            li
              a(href='//localhost:8080') Log In
            li
              a(href='//localhost:8080/userCreation') Sign Up
      .divLeft
        h4 One or more fields are incorrect. 
        h4 Please try again. 
      .divRight
        img.image3(src='./Images/FailImg.png', alt='')
      .divEmpty
      .divNewAccountLink
        